<body>
    <nav class="navbar nav navbar-expand navbar-light bg-light p-3">
        <h1 class="navbar-brand mb-0" id="navbar">{{title}}</h1>
        <ul class="nav navbar-nav">
            <li class="nav-item"><a class="nav-link" routerLink = '#' >Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink = '/heroes' >Hero List</a></li>    
        </ul>
        <div class="d-flex"><a class="nav-link" (click) = "toggleLightDark($event)">
            {{darkMode? "Light Mode" : "Dark Mode"}}</a></div>
    </nav>
    <div class="jumbotron pt-3">
        <router-outlet></router-outlet>
    </div>
</body>


