
<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                Filter by: 
            </div>
            <div class="col-md-4">
                <input type="text" [(ngModel)] = 'listFilter'>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Filtered by: {{listFilter}}</h4>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover" *ngIf="heroes.length">
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-primary" (click) = 'toggleImage()'>
                                {{showImage? 'Hide' : 'Show'}} Image
                            </button>
                        </th>
                        <th>Hero Name</th>
                        <th>Code</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Real Name</th>
                        <th>Availability</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let hero of filteredHeroes">
                        <td style="text-align: left;">
                            <img  *ngIf="showImage"  [src]='hero.image_path' [title] = 'hero.hero_name' 
                            [alt] = 'hero.hero_name'
                            [width]="hero.hero_image_width[0]" ></td>
                            
                                <td>
                                    <a [routerLink]="['/heroes', hero.code]">{{hero.hero_name}}
                                    </a>
                                </td>
                            
                        <td>{{hero.code | stripSpecialCharacters: '-' }}</td>
                        <td>{{hero.age}}</td>
                        <td>{{hero.gender}}</td>
                        <td>{{hero.real_name}}</td>
                        <td >
                            <app-availability [availabilityDescription] = "hero.hero_availability"
                                (availabilityClickEvent)="onAvailabilityClicked($event)">
                            </app-availability>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>